body{
	width: 100%;
	height: auto;
	margin:0;
}

a{
	text-decoration: none;
	color:#771bde;
}

h1 a{
	color:#1A1A1A;
}
@font-face{
	font-family: 'mohave-bold';
	src: url('webfonts/mohave-bold-webfont.eot');
	src: url('webfonts/mohave-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/mohave-bold-webfont.woff') format('woff'),
		 url('webfonts/mohave-bold-webfont.ttf') format('truetype'),
		 url('webfonts/mohave-bold-webfont.svg#webfont') format('svg');
}


.wf-loading body {
    visibility: hidden;
}

/*Header*/
header{
	position:fixed;
	width:100%;
	border-bottom: 1px #ebebeb solid;
	z-index:10;
	background-color:#fff;
}
.big a,
.small a{
	text-decoration: none;
	color:#4A4A4A;	
}

.big a:hover,
.small a:hover{
	border-bottom:5px solid #f4f4f4;
	padding-bottom:0px;
}
.topnav a:hover{
	border-bottom:5px solid #f4f4f4;
	padding-bottom:0px;
}

header ul{
	list-style: none;
	text-transform: uppercase;
	font-weight: 100;
	font-family: 'Mohave-Bold', sans-serif;
	padding-left:0;
}

header li{
	display:inline-block;
}

.topnav a.work,
.topnav a.practice, 
.topnav a.info{
	padding-bottom:7px;
}

header{
  transition: all .5s;
  -moz-transition: all .5s; /* Firefox 4 */
  -webkit-transition: all .5s; /* Safari and Chrome */
  -o-transition: all .5s; /* Opera */
}

h1, nav{
	transition:all .3s;
	-moz-transition: all .3s; /* Firefox 4 */
  	-webkit-transition: all .3s; /* Safari and Chrome */
  	-o-transition: all .3s; /* Opera */
}

/*Sizing for Header-big*/
header.big{
	height:130px;
	text-align:center;
	top:0;
}

header.big h1{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:36pt;
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 10px;
	color:#000;
	margin:18px 0 25px 0;
}

header.big ul{
	font-size: 16pt;
	letter-spacing: 6px;
	word-spacing: 40px;
}

/*Sizing for Header-small*/
header.small{
	height:50px;
	top:0;
	z-index: 200;
}
header.small h1{
	font-family: "Lato",sans-serif;
	font-weight: 700;
	font-size: 15pt;
	text-transform: uppercase;
	color: #000;
	float: right;
	margin: 16px 50px 9px 50px;
	word-spacing: 5px;
	letter-spacing: 1px;
}

header.small ul{
	font-size: 12pt;
	float: left;
	margin:17px 50px 9px 50px;
	letter-spacing:3px;
	word-spacing:20px;
	font-weight:300;
}
/*icons*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-1htyer');
	src:url('../fonts/icomoon.eot?#iefix-1htyer') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-1htyer') format('woff'),
		url('../fonts/icomoon.ttf?-1htyer') format('truetype'),
		url('../fonts/icomoon.svg?-1htyer#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pxheart:before {
    content: "\e602";
	color:red;
}
/*****************************************************/
/*body*/
section.portfolio{
	top:700px;
}

section.about{
	top:2000px;
}

.container{
	position:relative;
	width:100%;
	margin:0 auto;
}

p{
	font-family:'Lato', sans-serif;
	font-size:12pt;
	line-height: 22pt;
	font-weight: 400;
}

ul{
	list-style-type: circle;
}

li{
	font-family:'Lato', sans-serif;
	font-size:12pt;
	line-height: 22pt;
	font-weight: 400;
}

.row{
	position: relative;
	width: 900px;
	clear: both;
}

a{
	text-decoration: none;
	color:#771bde;
}

/*home page*/
.project{
	height:100px;
	width:100%;
	padding:3px;
	margin:10px;
}
/************************************************************/

/*footer*/
footer{
	height:50px;
	font-family:'PT Mono', 'Lato', sans-serif;
}
footer p.bottom{
	border-top: 1px #ebebeb solid;
	padding-top:9px;
	top:100%;
	font-size: 11pt;
	text-align: center;
	letter-spacing: 3px;
}

/************************************************************/

/*Work page*/
.title-ou{
	background: rgba(0,174,158,1.0) url(../images/OU/OUCRM-header2.png) 50% 290px no-repeat scroll;
	height: 340px;
	width: 100%;
	padding-top: 146px;
	margin-bottom: 30px;
}

.title-word{
	background: rgba(128,166,231,1.0) url(../images/GJ/WORD-header.png) 50% 257px no-repeat scroll;
	height: 340px;
	width: 100%;
	padding-top: 146px;
	margin-bottom: 30px;
}

.title-tnp{
	background: rgba(31,31,31,1.0) url(../images/TNP/TNP-header.png) 50% 290px no-repeat scroll;
	height:340px;
	width:100%;
	padding-top:148px;
	margin-bottom:30px;
	color:#fff;
}

h2{
	width:900px;
	font-family: 'Lato', sans-serif;
	font-size: 20pt;
	font-weight: 600;
	letter-spacing: 3px;
	line-height: 28pt;
	text-align: center;
	text-transform: capitalize;
	margin:0 auto;
	border:15px #000 double;
}

.title-tnp h2{
	border:13px #fff double;
	font-weight: 500;
	letter-spacing:2px;
} 

h3{
	text-align:center;
	font-style: italic;
	font-family:'Lato', sans-serif;
	font-size: 16pt;
	font-weight:300;
	letter-spacing: 3px;
	margin-top:12px;
	margin-bottom: 20px;
}

h1.proj-title{
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	text-align: center;
	border: 15px #000 double;
	letter-spacing: 3px;
}
.proj-subtitle{
	text-align:center;
	font-style: italic;
	font-family:'Lato', sans-serif;
	font-size: 16pt;
	font-weight:300;
	letter-spacing: 4px;
	margin-top:12px;
	margin-bottom: 20px;
}

section.proj-content{
	height: auto;
	width:60%;
	margin:0 auto;
	color: #000;
}

.proj-content h4{
	font-family:'PT Mono', 'Lato 700', sans-serif;
	font-size:14pt;
	font-weight: 600;
	line-height:18pt;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.col{
	position:relative;
	height:auto;
	padding-bottom:10px;
	margin-bottom: 30px;
}
.col2{
	position: relative;
	width: 45%;
	float: left;
	padding-left: 40px;
}
.left{
	position: relative;
	width:45%;
	float:left;
}
.image{
	margin-bottom:40px;
}
.caption{
	font-family:'PT Mono', sans-serif;
	font-weight: 300;
	font-size: 11pt;
	color:#4A4A4A;
	text-align: center;
}

.right{
	position:relative;
	width:45%;
	float:right;
}


/*Projects end*/
.proj-end{
	position: relative;
	border: 1px solid #008000;
	padding: 5px 0 70px;
	width: 100%;
	margin-bottom: 70px;
}

.proj-end p{
	width: 54%;
	line-height: 24pt;	
	padding: 0px 22%;
	font-size: 14pt;
	font-family: 'Lato',sans-serif;
	text-align: center;
	color: #4A4A4A;
	font-weight: 300;
}

/*Practice*/
.post{
	position: relative;
	margin: 0 auto;
	height: auto;
	width: 56%;
	padding: 175px 0 50px;
}

.post h1{
	font-family: 'Mohave', 'Lato', sans-serif;
	font-size: 30pt;
	color: #1A1A1A;
	font-weight: 600;
	text-transform: capitalize;
	letter-spacing: 1px;

}
.post-bottom p{
	font-family: 'PT Mono', 'Lato', sans-serif;
	border-top: 1px #ebebeb solid;
	padding-top: 9px;
	margin-top: 100px;
	font-size: 11pt;
	text-align: center;
	letter-spacing: 3px;
}