body{
	margin:0;
	height:100%;
	width:100%;
	font-family: font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}
.wrapper{
	margin:0 auto;
}

.jumbotron {
  height:600px;
  padding: 30px;
  color: inherit;
  background-color: #eee;
  text-align: center;
}

.jumbotron h1{
	font-family:'Roboto', sans-serif;
	font-size: 70px;
	font-weight:100;
	text-transform: uppercase;
	color:#4A90E2;
	margin:0;
	padding-bottom:5px;
}

.jumbotron h2{
	font-family:'Roboto', sans-serif;
	font-size: 35px;
	font-weight:100;
	color:#4a4a4a;
}

.jumbotron h3{
	font-family:'Roboto'; sans-serif;
	font-size: 32px;
	color: #fff;
	text-transform: uppercase;
	font-weight:100;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

.jumbotron .container {
  max-width: 100%;
  margin: 0 auto;
  height:450px;
  background-color:#c8ddf6;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

.icon{
	padding:3px;
}

.learn{
	display:block;
	padding:15px 0 10px 0;
	font-family: 'Roboto Slab', courier, monospace;
	font-weight:100;
	font-size:16px;
	color:#999;
	margin-top:155px;
}		

a.learn{
	margin:0;
}
#learn-more{
	height: 700px;
	width: 100%;
	padding:30px;
}

#learn-more .container{
	height:450px;
	width:100%;
	background-color:#c8ddf6;

}
  
  .col-md-6 {
  	height:100%;
    width: 50%;
    background-color:#eee;
    display:block;
  }

#learn-more h2{
	font-family:'Roboto', sans-serif;
	font-size: 35px;
	font-weight:100;
	color:#4a4a4a;
	text-align: center;
}

.col-md-6 p{
	font-family: 'Roboto Slab', Courier, monospace;
	font-size:18px;
	color: #4a4a4a;
}


footer{
	background-color:#eee;
	height: 25px;
	width:100%;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

footer a{
	text-decoration: none;
}