body{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 100;
}

.jumbotron{
	background-color:#eee;
	padding-bottom:0;
}
.container{
	text-align: center;
}

.jumbotron .container{
	display:block;
}

.row{
	padding: 20px 0;
}

.row .learn{
	margin:15px 0 0 0;
}
.learn a{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-decoration: none;
}

h3{
	font-family:'Roboto', sans-serif;
	font-size: 30px;
	font-weight:100;
	text-transform: capitalize;
}
.col-md-6 .copy{
	text-align: left;
}

footer{
	background-color: #4a4a4a;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 10px 0 5px;
	text-align: center;
}