body{
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	width: 1200px;
	background-color: #efefea;
}


.wrapper{
	border: 1px blue solid;
	margin: 15px 100px 0 15px;
}

a{
	text-decoration: none;
	color: black;
}
header{
	position: relative;
	margin: 5px;
	padding: 7px 7px 7px 12px;
	background-color: #e0e0d7;
}

nav{
	position: absolute;
	top: 20px;
	left: 15%;
	width:350px;
	font-size: 18px;
	font-family: Duru Sans, sans-serif;
	word-spacing: 15px;
	text-transform: uppercase;
}



.container{
	background-color: #fff;
	padding: 10px;
}

h1{
	font-family: Josefin Sans, sans-serif;
	font-size: 40px;
}

h1.monogram{
	padding: 2px 2px 0 2px;
	border: 5px black solid;
}

.profile{
	width:200px;
	border: 5px black solid;
}



