body{
	width: 100%;
	height: auto;
	margin:0;
}

@font-face{
	font-family: 'mohave-bold';
	src: url('webfonts/mohave-bold-webfont.eot');
	src: url('webfonts/mohave-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/mohave-bold-webfont.woff') format('woff'),
		 url('webfonts/mohave-bold-webfont.ttf') format('truetype'),
		 url('webfonts/mohave-bold-webfont.svg#webfont') format('svg');
}


.wf-loading body {
    visibility: hidden;
}

/*Header*/
.header{
	width:100%;
	height:auto;
	text-align:center;
	border-bottom: 1px #ebebeb solid;
}

h1 a{
	font-family: 'Lato', sans-serif;
	font-style:normal;
	font-size:36pt;
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-decoration:none;
	color:#000;
}

/*Mini Header*/
header.min{
	width:100%;
	height:74px;
	text-align:center;
	border-bottom: 1px #ebebeb solid;
}

header.min h3{
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	font-style:normal;
	font-size:12pt;
	text-transform: uppercase;;
	letter-spacing: 3px;
	word-spacing: 10px;
	text-decoration:none;
	color:#000;
}

.navlinks.min{
	line-height:7px;
	margin:0;
	padding:0px 42px 0 0;
	word-spacing: 18px;
}

/*Main Navigation*/
.navlinks li{
	display:inline-block;
	list-style: none;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 16pt;
	font-family: 'Mohave-Bold', sans-serif;
	letter-spacing: 8px;
}

.navlinks a{
	text-decoration: none;
	color:#4A4A4A;
	padding-left:5px;
	padding-bottom:3px;
}

.navlinks a:active{
	text-decoration: none;
	border-bottom: 5px solid #4A4A4A;
	padding-bottom:3px;
}

.navlinks a:hover{
	text-decoration: none;
	border-bottom: 5px solid #4A4A4A;
}

.navlinks{
	word-spacing: 40px;
	margin-left:0;
	padding:10px 74px 0 0;
	line-height: 40px;
}

.content{
	position:relative;
	margin: 40px 0 40px 18%;
	width: 65%;
	height: auto;
	font-family:'PT Mono', 'Lato', sans-serif;
}

/*WORK section*/
.tblofcontents{
	margin: 1 00px 0 40px 15%;
	width: 100%;
	height: auto;
}

.box a:hover{
	border: 5px #4A4A4A solid;
}
h2{
	font-weight: 600;
	font-size: 20pt;
	color:#4A4A4A;
	line-height: 28pt;
	margin-top: 3px;
}

p{
	font-size: 12pt;
	line-height: 30pt;
	margin:0 auto;
	font-weight: 400;
}

.mail{
	text-decoration: none;
	font-weight:800;
	color:#000;
}

.row{
	width: 900px;
	padding-bottom: 25px;
	margin:0 auto;
}

.box{
	width: 100%;
	height: 100%;
	display: inline;
	padding-left: 15px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	border-bottom: 5px solid #4A4A4A;
}

.link{
	text-decoration: none;
	color:#000;
	font-weight: 800;
}

/*Project*/

h2.proj-title{
	font-family:'Lato', sans-serif;
	text-transform: capitalize;
	text-align: center;
	border: 15px #4A4A4A double;
	letter-spacing: 3px;
	margin:0;
}

.proj-subtitle{
	text-align:center;
	font-style: italic;
	font-family:'Lato', sans-serif;
	font-size: 16pt;
	font-weight:300;
	letter-spacing: 4px;
	margin-top:0;
	margin-bottom: 10px;
}

p.intro{
	line-height: 20pt;
}

p.row{
	width:100%;
	line-height: 20pt;
	clear: both;
	padding-bottom:25px;
}
.col-left{
	width:45%;
	float:left;
	/*margin-right:1%;*/
	padding-bottom:25px;
	position: relative;
}
.col-right{
	position:relative;
	width:45%;
	float:right;
	padding-bottom:25px;
}
/*Project images*/
.proj-slider{}
.proj01{}

/*Projects end*/
.proj-end{
	width: 100%;
	height:auto;
	border:1px green solid;
	margin:0 auto;
}

.proj-end p{
	margin: 40px 0 0 18%;
	width: 65%;
	height: auto;
}

/*footer*/
footer{
	font-family:'PT Mono', 'Lato', sans-serif;
	font-size: 11pt;
	text-align: center;
	letter-spacing: 3px;
	border-top: 1px #ebebeb solid;
}

.pixel-heart{
	color:red;
}

.on{
	text-decoration: none;
	border-bottom: 5px solid #4A4A4A;
}

