body{
}
/* HEADER */
header{
	background: url('images/beans.jpg') center no-repeat #040707;
	height: 281px;
	width:100%;
	margin: 0 auto;
	position: relative;

}

.logo {
	position: relative;
	top: 20px;
	margin: 0 auto 20px;
	display: block;
}

/* NAVIGATION */
nav{
	position:absolute;
	background: #230b03;
	width:100%;
	bottom: 20px;

}

ul.topnav{
	position: relative;
	list-style: none;
	font-family: Georgia, serif;
	font-size: 18px;
	margin: 0;
	padding:7px;
	text-align: center;
}

ul.topnav li{
	display: inline;
	margin:0;

}
ul.topnav li a{
	color:#a38f74;
	text-decoration: none;
	padding: 10px 12px;
}

/* CONTAINER */
section.container{
	max-width: 800px;
	margin:auto;
}

article.column{
	float:left; 
    width: 40%;
    padding: 10px 4%;
    text-align: center;
	font-family: Times New Roman, serif;
	font-size: 16px;
}

h3.entry-title {
	color:#3b2313;
	font-family: Helvetica, sans-serif;
	font-size:20px;
	font-weight: 600;
}

footer{
	height:150px;
	top:658px;
	left:95px;
	width:100%;
	clear:both;
	background-color:#230b03;
	text-align: center;
	font-family: Georgia, serif;
	color:#a38f74;
	padding-top:25px;
}
