@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-bg0wpm');
	src:url('fonts/icomoon.eot?#iefix-bg0wpm') format('embedded-opentype'),
		url('fonts/icomoon.woff?-bg0wpm') format('woff'),
		url('fonts/icomoon.ttf?-bg0wpm') format('truetype'),
		url('fonts/icomoon.svg?-bg0wpm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon_8440:before {
	content: "\e600";
}

.icon-pxheart:before {
	content: "\e602";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-linkedin2:before {
	content: "\eac9";
}

.icon-github2:before {
	content: "\e601";
}

